:root {
    --dark-grey: #38302e;
    --dark-blue: #29508b;
    --light-grey: #ccdad1;
    --light-blue: #90b4eb;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#search-input-container {
    margin: 10px 0;
}

#search-input-query{
    margin-bottom: 15px;
}
.btn{
    background-color: var(--dark-blue);
    color: white;
}

.btn, .search-input{
    height: 35px;
}

.btn:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    text-decoration: none;
    color: var(--dark-blue);
}

.card-header {
    background-color: var(--dark-blue);
    color: white;
}

.forecast-future-card img{
    margin: 10px 0;
}

.card-title {
    font-weight: bold;
}